__pycache__
IDS/datasets/IoT23_conn_state
*.txt
*.pyc
IDS/OCGNN/__pycache__
IDS/OCGNN/.vscode
IDS/OCGNN/datasets/__pycache__
IDS/OCGNN/networks/__pycache__
IDS/OCGNN/optim/__pycache__
IDS/OCGNN/utils/__pycache__
IDS/OCGNN/model/wandb/
IDS/DOMINANT/model/wandb
IDS/CoLA/model/wandb
dynamic_graphs/EvolveGCN/wandb
dynamic_graphs/VGRNN/wandb
dynamic_graphs/vgrnn-evolve/wandb
dynamic_graphs/vgrnn-si/wandb
*.out
roc_data/
IDS/datasets/*json
IDS/datasets/compute/old/*
IDS/datasets/plots/*
IDS/datasets/*.png
IDS/datasets/*.jpg
